#inIndustryBackground {
  background-color: #f3f3f3;
  margin: 0px;
  padding: 0px;
}

.bold {
  font-weight: bold;
  font-size: 4vw;
}
.italics {
  font-style: italic;
}

#pageDiv {
  position: absolute;
  max-width: 100%;
  top: 0%;
  right: 0%;
  width: 100%;
  height: fit-content;
  font-size: 3.4vw;
  background-color: gray;
  display: flex;
  flex-direction: column;
  /*height: fit-content;*/
  color: gainsboro;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#banner {
  position: relative;
  width: 100%;
  top: 0%;
  right: 0%;
  background-color: #13294b;
  color: GhostWhite;
  font-size: 5vw;
  font-family: "Ebrima";
  display: flex;
  flex-direction: column;
  padding-top: .5vh;
  padding-bottom: 1.3vh; /*Make sure that padding-bottom is always .8vh greater than padding-top*/
}

#titleContainer {
  align-self: center;
}

#firstIcon,#secondIcon,#thirdIcon,#fourthIcon {
  position: relative;
  width: 100%;
  flex-basis: auto;
  text-align: center;
  font-size: 15vw;
  padding-top: 1vh;
  padding-bottom: 0vh;
}

#firstIcon,#thirdIcon {
  /*background-color:*/
}

#secondIcon,#fourthIcon {
  background-color: #13294b;
}

#row1,#row2,#row3,#row4 {
  position: relative;
  flex-basis: auto;
  width: 94vw;
  max-width: 100vw;
  font-size: 2vw;
  font-family: "Ebrima",sans-serif;
  display: flex;
  flex-direction: row;
  /*box-shadow: inset 0 -3px 8px black;*/
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vh;
}

#row1,#row3 {
  /*background-color:*/
}

#row2,#row4 {
  background-color: #13294b;
  border: 1px solid white;
}
